.ante-star-icon-all {
  background-image: url('../images/star-all.png');
}
.ante-star-icon-gold {
  background-image: url('../images/star-gold.png');
}
.ante-star-icon-silver {
  background-image: url('../images/star-silver.png');
}

.ante-star-icon-bj {
  background-image: url('../images/star-bj-m.png');
}
.ante-star-icon-fc {
  background-image: url('../images/star-fc-m.png');
}
.ante-star-icon-hm {
  background-image: url('../images/star-hm-m.png');
}
.ante-star-icon-hs {
  background-image: url('../images/star-hs-m.png');
}
.ante-star-icon-ht {
  background-image: url('../images/star-ht-m.png');
}
.ante-star-icon-jy {
  background-image: url('../images/star-jy-m.png');
}
.ante-star-icon-nm {
  background-image: url('../images/star-nm-m.png');
}
.ante-star-icon-qe {
  background-image: url('../images/star-qe-m.png');
}
.ante-star-icon-sh {
  background-image: url('../images/star-sh-m.png');
}
.ante-star-icon-sm {
  background-image: url('../images/star-sm-m.png');
}
.ante-star-icon-zy {
  background-image: url('../images/star-zy-m.png');
}

.ante-star-icon-zdy {
  background-image: url('../images/star-zdy-m.png');
}

.ante-star-icon-blue {
  background-image: url('../images/star-blue-m.png');
}
.ante-star-icon-green {
  background-image: url('../images/star-green-m.png');
}
.ante-star-icon-pink {
  background-image: url('../images/star-pink-m.png');
}
.ante-star-icon-purple {
  background-image: url('../images/star-purple-m.png');
}
.ante-star-icon-red {
  background-image: url('../images/star-red-m.png');
}
.ante-star-icon-yellow {
  background-image: url('../images/star-yellow-m.png');
}
/* 大星星 */
.ante-star-large-icon-all {
  background-image: url('../images/star-all-l.png');
}
.ante-star-large-icon-gold {
  background-image: url('../images/star-golden-l.png');
}
.ante-star-large-icon-silver {
  background-image: url('../images/star-silver-l.png');
}

.ante-star-large-icon-bj {
  background-image: url('../images/star-bj-l.png');
}
.ante-star-large-icon-fc {
  background-image: url('../images/star-fc-l.png');
}
.ante-star-large-icon-hm {
  background-image: url('../images/star-hm-l.png');
}
.ante-star-large-icon-hs {
  background-image: url('../images/star-hs-l.png');
}
.ante-star-large-icon-ht {
  background-image: url('../images/star-ht-l.png');
}
.ante-star-large-icon-jy {
  background-image: url('../images/star-jy-l.png');
}
.ante-star-large-icon-nm {
  background-image: url('../images/star-nm-l.png');
}
.ante-star-large-icon-qe {
  background-image: url('../images/star-qe-l.png');
}
.ante-star-large-icon-sh {
  background-image: url('../images/star-sh-l.png');
}
.ante-star-large-icon-sm {
  background-image: url('../images/star-sm-l.png');
}
.ante-star-large-icon-zy {
  background-image: url('../images/star-zy-l.png');
}

.ante-star-large-icon-zdy {
  background-image: url('../images/star-zdy-l.png');
}

.ante-star-large-icon-blue {
  background-image: url('../images/star-blue-l.png');
}
.ante-star-large-icon-green {
  background-image: url('../images/star-green-l.png');
}
.ante-star-large-icon-pink {
  background-image: url('../images/star-pink-l.png');
}
.ante-star-large-icon-purple {
  background-image: url('../images/star-purple-l.png');
}
.ante-star-large-icon-red {
  background-image: url('../images/star-red-l.png');
}
.ante-star-large-icon-yellow {
  background-image: url('../images/star-yellow-l.png');
}