
@font-face {font-family: "anteicon";
  src: url('iconfont.eot?t=1482716901973'); /* IE9*/
  src: url('iconfont.eot?t=1482716901973#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482716901973') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482716901973') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482716901973#anteicon') format('svg'); /* iOS 4.1- */
}

.anteicon {
  font-family:"anteicon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before { content: "\e61b"; }

.icon-xiajiantou:before { content: "\e61c"; }

.icon-scan:before { content: "\e689"; }

.icon-duihao:before { content: "\e623"; }

.icon-gantanhao:before { content: "\e80a"; }

.icon-star:before { content: "\e612"; }

.icon-wbdiconbook:before { content: "\e616"; }

.icon-jiahao:before { content: "\e602"; }

.icon-jianhao:before { content: "\e603"; }

.icon-shenpi:before { content: "\e682"; }

.icon-shape:before { content: "\e67c"; }

.icon-chahao:before { content: "\e611"; }

.icon-hecheng:before { content: "\e666"; }

.icon-jiangbei:before { content: "\e604"; }

.icon-oldduihuan:before { content: "\e708"; }

.icon-pingjia:before { content: "\e621"; }

.icon-fenxi:before { content: "\e622"; }

.icon-duihuan:before { content: "\e624"; }

